<!DOCTYPE html>
<html lang="fr">
<head>
  <meta content='text/html; charset="UTF-8"' http-equiv='Content-Type'>
</head>
<body>
  <h1>Salut <%=@user.first_name%> !</h1>  
  <p>
  Voici ta réservation pour l'évènement suivant : <%=@event.title%>.
  Note bien la date dans ton agenda : le <%=@event.start_date%> !
  </p>
  <p>
  Au plaisir de t'y rencontrer ! 
  </p>
</body>
</html>
